<div class="btn-toolbar">

    {% include '@AcMarcheMercredi/animateur/enfant/_btn_add_accueil.html.twig' %}

    <div class="btn-group mb-2 mr-2 ">
        <a href="{{ path('mercredi_animateur_sante_fiche_show', { 'uuid': enfant.uuid }) }}" role="button"
           class="btn btn-primary">
            <i class="fas fa-heartbeat"></i> Fiche santé</a>
    </div>
    <div class="btn-group mb-2 ">
        <a href="{{ path('mercredi_animateur_enfant_index') }}" class="btn btn-primary" role='button'><i
                    class="fas fa-list"></i>
            Retour à la Liste</a>
    </div>
</div>

