<table class="table table-bordered">
    <tr>
        <th>Nom</th>
        <th>Ecole</th>
    </tr>
    {% for enfant in enfants %}
        <tr>
            <td>
                <a href="{{ path('mercredi_ecole_enfant_show', {'uuid': enfant.uuid}) }}">
                    {{ enfant }}
                </a>
            </td>
            <td>{{ enfant.ecole }}</td>
        </tr>
    {% else %}
        <tr>
            <td>Aucun enfant trouvé</td>
        </tr>
    {% endfor %}
</table>
