{% extends '@AcMarcheMercrediEcole/layout.html.twig' %}

{% block body %}

    <div class="card mb-2">
        <h3 class="card-header">{{ enfant }}</h3>
        <div class="card-body">
            {% include '@AcMarcheMercrediEcole/enfant/_actions.html.twig' %}
            <div class="d-flex">
                <div class="flex-shrink-0">
                    {% include '@AcMarcheMercredi/commun/enfant/_photo.html.twig' %}
                </div>
                <div class="flex-grow-1 ms-3">
                    {% include '@AcMarcheMercredi/commun/enfant/_identite.html.twig' %}
                    {% if mercredi_accueil > 1 %}
                        <br/>
                        Inscris aux accueils du matin et soir:
                        {% if enfant.isAccueilEcole %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                        <br/>
                    {% endif %}
                </div>
            </div>
            <br/>
        </div>
    </div>
    {% include '@AcMarcheMercredi/ecole/enfant/_accueils.html.twig' %}
{% endblock %}
