{% if dateSelected %}
    <h4>Accueils du {{ dateSelected|format_date('full') }}</h4>
{% endif %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Ecole</th>
        <th>Accueils</th>
    </tr>
    </thead>
    <tbody>
    {% for data in accueils %}
        <tr>
            <td>
                {{ data.ecole }}
            </td>
            <td>
                {{ data.accueils|length }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>