
<a href="{{ path('mercredi_ecole_accueil_edit', { 'uuid': accueil.uuid }) }}" role="button"
   class="btn btn-primary"><i
            class="far fa-edit"></i> Modifier</a>

<a href="{{ path('mercredi_ecole_enfant_show', {'uuid': enfant.uuid}) }}" class="btn btn-primary" role='button'><i class="fas fa-list"></i>
    Retour à l'enfant</a>

<br/><br/>
