{% extends '@AcMarcheMercrediEcole/layout.html.twig' %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>Nouvel accueil pour <a href="{{ path('mercredi_ecole_enfant_show', {'uuid': enfant.uuid}) }}">{{ enfant }}</a></h3>
        </div>
        <div class="card-body">

            {{ include('@AcMarcheMercrediEcole/accueil/_form.html.twig') }}

        </div>
        <div class="card-footer">
            <a href="{{ path('mercredi_ecole_enfant_show', {'uuid': enfant.uuid}) }}">
                <span class="fas fa-list"></span> Annuler
            </a>
        </div>
    </div>
{% endblock %}
