{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

<div class="card bg-light mb-3">
    <div class="card-header">
        <h3>{{ user }}</h3>
    </div>
    <div class="card-body">

    {% include '@AcMarcheMercrediAdmin/user/_actions.html.twig' %}

    <br />
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <th>Email</th>
            <td>
                {{ user.email }}
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>

    {% include '@AcMarcheMercrediAdmin/user/_delete.html.twig' %}

{% endblock %}
