<table class="table table-bordered">
    <thead>
    <tr>
        <th>Date</th>
        <th>Tuteur</th>
        <th>Remarque</th>
    </tr>
    </thead>
    <tbody>
    {% for presence in presences %}
        <tr>
            <td>
            <a href="{{ path('mercredi_parent_presence_show', {'uuid': presence.uuid}) }}">
                {{ (presence.jour.dateJour | format_date('full'))|capitalize }}
            </a>
            </td>
            <td>
                {{ presence.tuteur }}
            </td>
            <td class="text-muted">
                {{ presence.remarque }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
