{% extends '@AcMarcheMercrediParent/layout.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Sélectionnez votre (vos) enfant(s)</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.enfants) }}
            <button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
                Inscrire
            </button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
