{% extends '@AcMarcheMercrediParent/layout.html.twig' %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>{{ plaine }}</h3>
        </div>
        <div class="card-body">
            <h4 class="text-success">Les dates de la plaine</h4>
            <ul class="list-group list-group-horizontal">
                {% for plaineJour in plaine.plaineJours %}
                    <li class="list-group-item">
                        {{ plaineJour.jour.dateJour|format_date('full') }}
                    </li>
                {% endfor %}
            </ul>
            <br/>
            <h4 class="text-success">Enfant(s) inscrit(s)</h4>
            <ul class="list-group list-group-horizontal">
                {% for enfant in enfants %}
                    <li class="list-group-item">
                        {{ enfant }}
                    </li>
                {% else %}
                    <li class="list-group-item">Aucun</li>
                {% endfor %}
            </ul>

            {% if plaine.inscriptionOpen %}
                <br/>
                <a href="{{ path('mercredi_parent_plaine_select_enfant') }}" role="button" class="btn btn-primary"><i
                            class="fas fa-user-plus"></i> Inscrire mes enfants</a>
            {% endif %}

        </div>
    </div>
{% endblock %}

