<a href="{{ path('mercredi_admin_plaine_presence_jours', { 'plaine': plaine.id,'enfant': enfant.id }) }}" role="button"
   class="btn btn-primary"><i
            class="far fa-calendar"></i> Changer ses dates</a>

<a href="{{ path('mercredi_admin_plaine_show', {'id': plaine.id}) }}" class="btn btn-primary" role='button'><i
            class="fas fa-list"></i>
    Retour à la plaine</a>

<br/><br/>
