{% extends '@AcMarcheMercrediParent/layout.html.twig' %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Liste de vos factures</h3>
        </div>

        <div class="card-body">


            {% include '@AcMarcheMercrediParent/facture/_list.html.twig' %}

        </div>
    </div>

{% endblock %}
