<div class="card mb-3">

    <h4 class="card-header">Travails les jours suivants</h4>

    <div class="card-body">

        <ul class="list-group">
            {% for jour in animateur.jours %}
                <li class="list-group-item">{{ jour.date_jour|format_date('full') }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-footer text-muted mt-3">

    </div>
</div>
