{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>Nouvel animateur</h3>
        </div>
        <div class="card-body">

           {{ include('@AcMarcheMercrediAdmin/animateur/_form.html.twig') }}

 </div>
        <div class="card-footer">
            <a href="{{ path('mercredi_admin_animateur_index') }}">
                <span class="fas fa-list"></span> Annuler
            </a>
        </div>
    </div>
{% endblock %}
