{% extends '@AcMarcheMercrediParent/layout.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Nouvel accueil pour {{ enfant }}</h3>
        </div>
        <div class="card-body">
            {% include '@AcMarcheMercrediParent/accueil/_form.html.twig' %}
        </div>
    </div>

{% endblock %}
