{% extends '@AcMarcheBottin/layout.html.twig' %}

{% block body -%}
    
     <div class="page-header">
        <h3>{{demande}}</h3>
    </div>

        {{ form(form) }}

    <a href="{{ path('bottin_pdv')}}">
        <i class="fas fa-long-arrow-alt-left"></i>  Annuler et retour à la liste
    </a>

{% endblock %}