<div class="dropdown">
    <a class="btn btn-primary dropdown-toggle"
       href="#"
       role="button" id="dropdownMenuLink"
       data-bs-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-plus"></i> Inscriptions
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for index, value in heures %}
            <a class="dropdown-item"
               href="{{ path('mercredi_ecole_accueil_inscriptions',
                   { 'id': ecole.id, 'year': today.year, 'month': today.month, 'week': today.week ,'heure': index }) }}">
                {{ value }}</a>
        {% endfor %}
    </div>
</div>
