<a href="{{ path('mercredi_admin_note_edit', { 'id': note.id }) }}" role="button"
   class="btn btn-primary"><i
            class="far fa-edit"></i> Modifier</a>

<a href="{{ path('mercredi_admin_enfant_show', {'id': enfant.id}) }}" class="btn btn-primary" role='button'><i
            class="fas fa-list"></i>
    Retour à l'enfant</a>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    <i class="fas fa-trash"></i> Supprimer
</button>

<br/><br/>
