<h4 class="text-success">Les jours</h4>
<ul class="list-group list-group-horizontal mb-3">
    {% for plaineJour in plaine.plaineJours %}
    <li class="list-group-item">
        <a href="{{ path('mercredi_admin_plaine_jour_show', {'id': plaineJour.id}) }}">
            {{ plaineJour.jour.dateJour|format_date('long') }}
        </a>
        {% endfor %}
    </li>
</ul>
