<h4 class="text-success">Les jours</h4>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Date</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for jour in plaine.jours %}
        <tr>
            <td>{{ jour.dateJour|format_date('full') }}</td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
