<h4 class="text-success">Les jours</h4>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for plaineJour in plaine.plaineJours %}
        <tr>
            <td>{{ plaineJour.jour.dateJour|format_date('full') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
