<h4 class="text-success">Les groupes</h4>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Maximum inscrits par groupe</th>
    </tr>
    </thead>
    <tbody>
    {% for plaineGroupe in plaine.plaineGroupes %}
        {% set inscrits = 0 %}
        {% if datas[plaineGroupe.groupeScolaire.id] is defined %}
            {% set inscrits = datas[plaineGroupe.groupeScolaire.id]['enfants']|length %}
        {% endif %}
        <tr>
            <td>{{ plaineGroupe.groupeScolaire.nom }}</td>
            <td>{{ inscrits }} /{{ plaineGroupe.inscriptionMaximum }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
