{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>{{ plaine }}</h3>
        </div>
        <div class="card-body">

            {{ include('@AcMarcheMercrediAdmin/plaine/_form.html.twig') }}

        </div>
        <div class="card-footer">
            <a href="{{ path('mercredi_admin_plaine_show',{'id':plaine.id}) }}" class="mt-4">
                <i class="fas fa-long-arrow-alt-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
