{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>Nouvelle date d'accueil</h3>
        </div>
        <div class="card-body">

           {{ include('@AcMarcheMercrediAdmin/jour/_form.html.twig') }}

        </div>
    </div>
{% endblock %}
