{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Fiche santé de {{ sante_fiche.enfant }}</h3>
        </div>
        <div class="card-body">

            {{ include('@AcMarcheMercrediAdmin/sante_fiche/_form.html.twig') }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
  {% include '@AcMarcheMercredi/commun/_js_add_field.html.twig' %}
{% endblock %}
