{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Dates pour {{ plaine }}</h3>
        </div>
        <div class="card-body">

            {{ include('@AcMarcheMercrediAdmin/plaine_jour/_form.html.twig') }}

        </div>
        <div class="card-footer">
            <a href="{{ path('mercredi_admin_plaine_show',{'id':plaine.id}) }}" class="mt-4">
                <i class="fas fa-long-arrow-alt-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="btn btn-primary add_tag_link float-end"><i class="fas fa-plus"></i> Ajouter une date</a>');
        var $newLinkLi = $('#lolo').after($addTagLink);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $('div.tags');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // add a new tag form (see code block below)
                addTagForm($collectionHolder, $newLinkLi);
            });

            // handle the removal, just for this example
            $('.remove-tag').click(function (e) {
                e.preventDefault();
                var className = $(this).parent()[0].className; //get "class:col-4 remove"+index
                var ret = className.replace('col-4 ', '');
                $('.' + ret).remove();

                return false;
            });

        });

        function addTagForm($collectionHolder, $newLinkLi) {

            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('#lolo').append('<div class="col-6 remove' + (index + 1) + '">' + newForm + '</div>');

            // also add a remove button, just for this example
            $newFormLi.append('<div class="col-4 remove' + (index + 1) + '"><a href="#" class="btn btn-danger remove-tag"><i class="fas fa-trash"></i></a></div>');

            $newLinkLi.before($newFormLi);

            // handle the removal, just for this example
            $('.remove-tag').click(function (e) {
                e.preventDefault();
                var className = $(this).parent()[0].className; //get "class:col-4 remove"+index
                var ret = className.replace('col-4 ', '');
                $('.' + ret).remove();

                return false;
            });
        }
    </script>
{% endblock %}
