{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Dates pour {{ plaine }}</h3>
        </div>
        <div class="card-body">

            {{ include('@AcMarcheMercrediAdmin/plaine_jour/_form.html.twig') }}

        </div>
        <div class="card-footer">
            <a href="{{ path('mercredi_admin_plaine_show',{'id':plaine.id}) }}" class="mt-4">
                <i class="fas fa-long-arrow-alt-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener("turbo:load", () => {

            let elements = document.querySelectorAll('.remove-tag');

            Array.prototype.forEach.call(elements, function (element, i) {
                element.addEventListener('click', () => {
                    const elementId = element.dataset.elementid;
                    let line = document.querySelector('#el' + elementId)
                    line.remove()
                });
            });
        })
    </script>
{% endblock %}
