<nav aria-label="breadcrumb">
    <ol class='breadcrumb'>
        <li class="breadcrumb-item"><a href='{{ path('bottin_category') }}'>Racine</a></li>
        {% for path in paths %}
            {% if loop.last %}
                <li class="breadcrumb-item active" aria-current="page">{{ path }}</li>
            {% else %}
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{{ path('bottin_category_show', { 'id': path.id }) }}">{{ path }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
