<span class="text-muted">

<a href='{{ path('bottin_category') }}'>Racine</a>
/
{% for path in paths %}
    {% if loop.last %}
        {{ path }}
    {% else %}

        <a href="{{ path('bottin_category_show', { 'id': path.id }) }}">{{ path }}</a> /

    {% endif %}
{% endfor %}
</span>
