{% extends '@AcMarcheBottin/layout.html.twig' %}

{% block body -%}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>Nouvelle catégorie {% if parent %}<strong>dans {{ parent }}</strong> {% endif %}</h3>
        </div>
        <div class="card-body">

            {% include '@AcMarcheBottin/category/_form.html.twig' %}

            <a href="{{ path('bottin_category') }}" class="float-right">
                <i class="fas fa-long-arrow-alt-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
