<h4 class="text-success">{% if relations | length > 0 %}Les parents {% else %} Le parent {% endif %}</h4>
<hr/>
{% for relation in relations %}

    {% set tuteur= relation.tuteur %}
    <h5>{{ tuteur }}</h5>
    <div class="row">
        <div class="col-6">
            <i class="fas fa-map-marked-alt"></i>
            {{ tuteur.rue }} <br/>
            {{ tuteur.codepostal }} {{ tuteur.localite }}

            <br/>
            {% include '@AcMarcheMercrediAdmin/tuteur/_identite.html.twig' %}
        </div>
        <div class="col-6">
            {% include '@AcMarcheMercrediAdmin/tuteur/_conjoint.html.twig' %}
        </div>
    </div>

{% else %}
    Aucun parent
{% endfor %}
