{% extends '@AcMarcheMercredi/base.html.twig' %}

{% block brand %}
    <a class="navbar-brand" href="{{ path('mercredi_parent_home') }}">Mercredi</a>
{% endblock %}

{% block menu_top %}
    {% include '@AcMarcheMercrediParent/_menu.html.twig' %}
{% endblock %}

{% block notifications %}
    {{ render(path('mercredi_parent_plaine_open')) }}
{% endblock %}
