{% extends '@AcMarcheMercredi/front/layout.html.twig' %}

{% block title %}Error Mercredi{% endblock %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Erreur survenue</h3>
        </div>
        <div class="card-body">
            <h4>Le serveur a retourné : "{{ status_code }} {{ status_text }}".</h4>
            <br/><br/>
            <a href="{{ path('mercredi_front_home') }}">Retour à l'accueil</a>
        </div>
    </div>

{% endblock %}
