{% extends '@AcMarcheMercredi/front/layout.html.twig' %}

{% block title %}Error Mercredi{% endblock %}

{% block body -%}

    <div class="card bg-lig2ht mb-3">
        <div class="card-header">
            <h3>Erreur survenue</h3>
        </div>
        <div class="card-body">
            <br/><br/>
            <a href="{{ path('mercredi_front_home') }}">Retour à l'accueil</a>
        </div>
    </div>

{% endblock %}
