{% extends '@AcMarcheMercredi/front/layout.html.twig' %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Cron</h3>
        </div>

        <div class="card-body">

        </div>
    </div>

{% endblock %}
