{% extends '@AcMarcheMercredi/front/layout.html.twig' %}


{% block body_class %}homeBg{% endblock %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>{{ page.nom }}</h3>
        </div>

        <div class="card-body">
            {{ page.content|raw }}
        </div>
    </div>

{% endblock %}
