{% extends '@AcMarcheBottin/layout.html.twig' %}

{% block body -%}

    <div class="card bg-lig2ht mb-3">
        <div class="card-header">
            <h3>Gestion du bottin marchois</h3>
        </div>
        <div class="card-body">
            <div class='alert alert-warning'>
                Tout export du bottin à une tierce partie, est soumis à l'approbation du Collège
            </div>

<div id="root"></div>

        </div>
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}