{% extends '@AcMarcheMercredi/front/layout.html.twig' %}


{% block body_class %}homeBg{% endblock %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">

        </div>

        <div class="card-body">

        </div>
    </div>

{% endblock %}
