{% extends '@AcMarcheMercredi/front/layout.html.twig' %}

{% block title %}
    {{ parent() }} -
    {{ page.nom }}
{% endblock %}

{% block body_class %}homeBg{% endblock %}

{% block body -%}

    <div class="card bg-lig2ht mb-3">
        <div class="card-header">
            <h3>{{ page.nom }}</h3>
        </div>

        <div class="card-body">
            {{ page.content|raw }}
        </div>
    </div>

{% endblock %}
