{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <h3>Envoie d'un message aux parents</h3>

    {% include '@AcMarcheMercrediAdmin/message/_search.html.twig' %}

    <a href="{{ path('mercredi_message_new') }}" class="btn btn-primary" role="button"><i
                class="far fa-envelope"></i> Ecrire le message</a>

    <br/><br/>
    <p>Le message sera envoyé à {{ emails | length }} emails (conjoints compris)</p>

    <br/>

    {% if tuteursWithOutEmails | length > 0 %}
        <div class="alert alert-warning">
            Les {{ tuteursWithOutEmails | length }} tuteurs suivants n'ont pas d' adresse mail, ni leur conjoint
        </div>

        {% include '@AcMarcheMercrediAdmin/message/_tuteurs.html.twig' } %}

    {% endif %}

{% endblock %}
