{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>Nouveau message à {{ emails|length }}
                emails {% if jour is defined %}pour les présences du {{ jour|format_date('full') }}{% endif %}</h3>
        </div>
        <div class="card-body">

            {{ include('@AcMarcheMercrediAdmin/message/_form.html.twig') }}

        </div>
    </div>
{% endblock %}
