<table class="table table-bordered">
    <tr>
        <th>Prix 1</th>
        <td>{{ jour.prix1 }} €</td>
    </tr>
    <tr>
        <th>Prix 2</th>
        <td>{{ jour.prix2 }} €</td>
    </tr>
    <tr>
        <th>Prix suivant</th>
        <td>{{ jour.prix3 }} €</td>
    </tr>
</table>
