<table class="table table-bordered">
    <tr>
        <th>Par journée complète</th>
        <td>{{ jour.prix1 }} €</td>
    </tr>
    <tr>
        <th>Par demi-journée</th>
        <td>{{ jour.prix2 }} €</td>
    </tr>
</table>
