{% if factureReductions | length > 0 %}
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th colspan="2" class="text-start">Réduction(s)</th>
        </tr>
        </thead>
        {% for reduction in factureReductions %}
            <tr>
                <td>
                    {{ reduction.nom }}
                </td>
                <td class="text-end">
                    {% if reduction.pourcentage %}
                        {{ reduction.pourcentage|format_number }} %
                    {% endif %}

                    {% if reduction.amount %}
                        {{ reduction.amount|format_currency('eur') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
