<h1>Bonjour</h1>

<p>
    Pour changer votre mot de passe, cliquez sur le lien suivant
    <a href="{{ url('mercredi_front_reset_password', {token: resetToken.token}) }}">Changer mon mot de passe</a>
    Ce lien va expiré dans {{ tokenLifetime|date('g') }} heure(s)..
</p>

<p>
    Merci
</p>
