{% set action = app.request.attributes.get("_route") %}


<li class="nav-item{% if action == 'mercredi_tuteur_new' %} active {% endif %}">
    <a class="nav-link"
       href="{{ path('mercredi_parent_home') }}"><i class="fas fa-plus"></i> Ajouter un tuteur</a>
</li>


{% if is_granted('ROLE_MERCREDI_ADMIN') %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">...</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{ path('mercredi_front_home') }}">Index des fiches</a>
        </div>
    </li>
{% endif %}
