{% set action = app.request.attributes.get("_route") %}

<li class="nav-item{% if action == 'mercredi_animateur_enfant_index' %} active {% endif %}">
    <a class="nav-link"
       href="{{ path('mercredi_animateur_enfant_index') }}"><i class="fas fa-list"></i> Les enfants</a>
</li>

<li class="nav-item{% if action == 'mercredi_animateur_animateur_show' %} active {% endif %}">
    <a class="nav-link"
       href="{{ path('mercredi_animateur_animateur_show') }}"><i class="fas fa-list"></i> Mes données</a>
</li>

