{% extends '@AcMarcheMercredi/base.html.twig' %}

{% block brand %}
    <a class="navbar-brand" href="{{ path('mercredi_animateur_home') }}">Mercredi</a>
{% endblock %}

{% block menu_top %}
    {% include '@AcMarcheMercrediAnimateur/_menu.html.twig' %}
{% endblock %}
