{% set action = app.request.attributes.get("_route") %}

<li class="nav-item{% if action == 'mercredi_ecole_enfant_index' %} active {% endif %}">
    <a class="nav-link"
       href="{{ path('mercredi_ecole_enfant_index') }}"><i class="fas fa-list"></i> Les enfants</a>
</li>

{% if mercredi_accueil > 1 %}
    <li class="nav-item{% if action == 'mercredi_ecole_enfant_index' %} active {% endif %}">
        <a class="nav-link"
           href="{{ path('mercredi_ecole_accueils_index') }}"><i class="fas fa-list"></i> Les accueils</a>
    </li>
{% endif %}

<li class="nav-item{% if action == 'mercredi_ecole_ecole_index' %} active {% endif %}">
    <a class="nav-link"
       href="{{ path('mercredi_ecole_ecole_index') }}"><i class="fas fa-list"></i> Mes écoles</a>
</li>
