{% extends '@AcMarcheMercredi/base.html.twig' %}

{% block brand %}
    <i class="fas fa-store icon-rose"></i>
    <a class="navbar-brand" href="{{ path('mercredi_ecole_home') }}">Mercredi</a>
{% endblock %}

{% block menu_top %}
    {% include '@AcMarcheMercrediEcole/_menu.html.twig' %}
{% endblock %}
