{% extends '@AcMarcheMercredi/layout.html.twig' %}

{% block title %}Enfant{% endblock %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>{{ ecole }}</h3>
            {% include '@AcMarcheMercredi/default/_sexe.html.twig' with {'entity':ecole} %}
            {% include '@AcMarcheMercredi/default/_archive.html.twig' with {'entity':ecole} %}
        </div>
        <div class="card-body">

            {% include '@AcMarcheMercredi/ecole/_actions.html.twig' %}

            {% include '@AcMarcheMercredi/ecole/_scolaire.html.twig' %}

            <img class="img-thumbnail"
                 src="{{ vich_uploader_asset(ecole, 'photo') | imagine_filter('mercredi_thumb') }}" alt="img"/>

            <br/>
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <th>né le</th>
                    <td>
                        <span class="fas fa-birthday-cake"></span> {{ ecole.birthday ? ecole.birthday|format_datetime('full', 'none') }}
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        ({{ ecole.numeronational }})
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% include '@AcMarcheMercredi/ecole/_delete_form.html.twig' %}

{% endblock %}
