{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Décompte {{ factureDecompte.payeLe|format_date('full') }}</h3>
        </div>
        <div class="card-body">

            {% include '@AcMarcheMercredi/admin/facture_decompte/_form.html.twig' %}

        </div>
        <div class="card-footer">
            <a href="{{ path('mercredi_admin_facture_show',{'id':facture.id}) }}" class="mt-4">
                <i class="fas fa-long-arrow-alt-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
