Cher(s) parent(s),

Un compte vient d'être ouvert à votre nom sur le site internet {{ absolute_url(path('mercredi_front_home')) }}.

Afin de pouvoir valider votre inscription, vous devez

<a href="{{ path('mercredi_parent_tuteur_edit') }}">Remplir vos coordonnées</a>


<a href="{{ path('mercredi_parent_tuteur_edit') }}">
Ajouter votre(vos) enfant(s)
</a>


de votre enfant, vous devez impérativement remplir la fiche de santé de votre/vos enfant(s)
ainsi que vos coordonnées et ce, avant la première venue de votre enfant à l'accueil extra-scolaire.

Le site vous permettra ensuite de gérer les présences de votre/vos enfant(s) pour les accueils de l'Espaces Parents Enfants
lors des mercredi après-midi, des journées pédagogiques et des plaines d'Automne, Hiver, Détente et Printemps.

Vous aurez également accès à l'état des lieux de vos payements et davantage d'informations concernant les modalités pratiques,
notre Règlement d'Ordre Intérieur etc....

Nous vous remercions pour votre confiance et restons à votre disposition pour toutes questions.

