{% extends '@AcMarcheMercredi/front/layout.html.twig' %}

{% block title %}M'enregistrer{% endblock %}
{% block stylesheets %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}" async defer></script>
{% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>M'enregistrer en tant que parent</h3>
        </div>

        <div class="card-body">

            <div class="alert alert-info">
                Enregistrez vous, un email vous sera envoyé expliquant toutes les démarches à suivre.
            </div>

            {% include '@AcMarcheMercredi/front/registration/_form.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener("turbo:load", () => {
            document.getElementById("recaptcha-btn").addEventListener("click", function (e) {
                e.preventDefault(); // Prevent the default form submission
                grecaptcha.ready(function () {
                    grecaptcha.execute('{{ recaptcha_site_key }}', {action: 'submit'}).then(function (token) {
                        // Add the token to the hidden input
                        document.getElementById("g-recaptcha-response").value = token;

                        // Submit the form
                        document.getElementById("zeze").submit();
                    });
                });
            });
        })
    </script>
{% endblock %}
