{% for tuteur in tuteurs %}
    <li class="list-group-item" role="option" data-autocomplete-valu22e="{{ tuteur.id }}">
        <a href="{{ path('mercredi_admin_tuteur_show', {'id': tuteur.id}) }}">
            {{ tuteur.prenom }} {{ tuteur.nom }}
        </a>
    </li>
{% endfor %}
