{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Etats des comptes</h3>
        </div>
        <div class="card-body">
            <div class="alert alert-info">
                Les comptes peuvent être supprimé sans risque de pertes de données.
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Problème</th>
                </tr>
                </thead>
                <tbody>
                {% for data in users %}
                    <tr>
                        <td>
                            <a href="{{ path('mercredi_admin_user_show', { 'id': data.user.id }) }}">
                                {{ data.user.username }}
                            </a>
                        </td>
                        <td>{{ data.error }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

