@import '~bootstrap';

.search-preview {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 84px;
}

.footer {
    background-color: #f5f5f5;
}

.homeBg {
    background-image: url("../images/loginBg.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.mainK {
    background-image: linear-gradient(#9cbad3 0px, #f7f8fb 200px)
}

label.required:after {
    content: " *";
    color: red;
}

legend.required:after {
    content: " *";
    color: red;
}

.icon-rose {
    color: #e83e8c;
}
/**
loader
 */
.loader {
    --b: 10px;  /* border thickness */
    --n: 10;    /* number of dashes*/
    --g: 10deg; /* gap  between dashes*/
    --c: red;   /* the color */

    width:100px; /* size */
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px; /* get rid of bad outlines */
    background: conic-gradient(#0000,var(--c)) content-box;
    -webkit-mask: /* we use +/-1deg between colors to avoid jagged edges */
            repeating-conic-gradient(#0000 0deg,
            #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
            #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
            radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
    mask:
            repeating-conic-gradient(#0000 0deg,
            #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
            #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
            radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: load 1s infinite steps(var(--n));
}
@keyframes load {to{transform: rotate(1turn)}}
