{% extends '@AcMarcheMercrediParent/layout.html.twig' %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Vos enfants</h3>
        </div>
        <div class="card-body">
            {% include '@AcMarcheMercrediParent/enfant/_list.html.twig' %}

            <a href="{{ path('mercredi_parent_presence_select_enfant') }}" class="mt-3 btn btn-outline-primary float-end">
                <i class="fas fa-plus"></i>
                Inscrire aux mercredis/journées pédagogiques</a>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">

            <h3 class="w-50 d-inline">Vos coordonnées</h3>
            <a href="{{ path('mercredi_parent_tuteur_edit') }}" class="float-end" role="button">
                <i class="far fa-edit"></i>
                Modifier
            </a>
        </div>
        <div class="card-body">
            {% include '@AcMarcheMercrediParent/tuteur/_coordonnees.html.twig' %}
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h3 class="w-50 d-inline">Mes factures</h3>
        </div>
        <div class="card-body">
            {% include '@AcMarcheMercrediParent/facture/_list.html.twig' %}
        </div>
    </div>
{% endblock %}
