<br />
<ul class="list-group">
    {% for document in page.documents %}
        <li class="list-group-item">
            <a href="{{ path('mercredi_font_document_download', {'id': document.id}) }}">
                {{ document }}
            </a>
        </li>
    {% endfor %}
</ul>
