{% extends '@AcMarcheMercredi/front/layout.html.twig' %}

{% block title %}{{ page.nom }}{% endblock %}

{% block body -%}

    <div class="card bg-lig2ht mb-3">
        <div class="card-header">
            <h3>{{ page.nom }}</h3>
        </div>
        <div class="card-body">
            {{ page.content|raw }}

            {% include '@AcMarcheMercredi/front/_documents.html.twig' %}
        </div>
    </div>

{% endblock %}
