{% extends '@AcMarcheMercredi/email/body.html.twig' %}
{% block subject %}
    <p class="lead">
        {{ email.subject }}
    </p>
{% endblock %}

{% block content %}

    <strong>Son courriel:</strong> {{ courriel }}<br/><br/>
    {{ body|nl2br }}

{% endblock %}

