{% extends '@email/default/notification/body.html.twig' %}
{% block lead %}
    <p class="lead">
        {{ email.subject }}
    </p>
{% endblock %}

{% block content %}

    {{ body|nl2br }}

{% endblock %}

{% block footer_content %}
    <p><small>{{ render(path('mercredi_organisation_short')) }}</small></p>
{% endblock %}
