{% extends '@email/default/notification/body.html.twig' %}
{% block lead %}
    <p class="lead">
        {{ email.subject }}
    </p>
{% endblock %}

{% block content %}
    Bonjour,
    <br/><br/>
    Vous avez demandez une réinitialisation de votre mot de passe.
    Pour réinitialiser votre mot de passe, merci de cliquez sur le lien ci-dessous
    <br/><br/>
    Cordialement,
    L'équipe
{% endblock %}

{% block action %}
    <spacer size="16"></spacer>
    <button href="{{ absolute_url(url) }}">Réinitialiser mon mot de passe</button>
{% endblock %}

{% block footer_content %}
    <p><small>{{ render(path('mercredi_organisation_short')) }}</small></p>
{% endblock %}
