{% extends '@AcMarcheMercredi/email/body.html.twig' %}
{% block subject %}
    <p class="lead">
        {{ email.subject }}
    </p>
{% endblock %}

{% block content %}
    Bonjour,
    <br/><br/>
    Vous avez demandé une réinitialisation de votre mot de passe.
    Pour réinitialiser votre mot de passe, merci de cliquez sur le lien ci-dessous
    <br/><br/>
    <a href="{{ url('mercredi_front_reset_password', {token: resetToken.token}) }}">
        {{ url('mercredi_front_reset_password', {token: resetToken.token}) }}</a>
    <br/><br/>
    Cordialement,
    L'équipe

    <br/><br/>
    <button href="{{ url('mercredi_front_reset_password', {token: resetToken.token}) }}" class="btn btn-primary">
        Réinitialiser mon mot de passe
    </button>
{% endblock %}

{% block action %}
    <spacer size="16"></spacer>

{% endblock %}

{% block footer_content %}
    {% include '@AcMarcheMercrediAdmin/organisation/_signature.html.twig' %}
{% endblock %}
