{% extends '@email/default/notification/body.html.twig' %}
{% block lead %}
    <p class="lead">
        {{ email.subject }}
    </p>
{% endblock %}

{% block content %}
    Cher(s) parent(s),
    <br>
    <br>
    Votre compte a bien été créé sur le site internet.
    <br>
    <br>
    Un administrateur va valider votre compte.
    <br>
    <br>
    Vous recevrez un autre mail indiquant la procédure à suivre
    <br>
    <br>
    Bien à vous,
    <br>
    <br>

{% endblock %}

{% block action %}
    <spacer size="16"></spacer>
    <button href="{{ absolute_url(path('mercredi_front_home')) }}">Voir</button>
{% endblock %}

{% block footer_content %}
    <p><small>{{ render(path('mercredi_organisation_short')) }}</small></p>
{% endblock %}
