<h4 class="text-success">Présences</h4>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Enfant</th>
                    <th>Date</th>
                    <th>Coût</th>
                </tr>
                </thead>
                {% for presence in facture.facturePresences %}
                    <tr>
                        <td>{{ presence.enfantNom }} {{ presence.enfantPrenom }}</td>
                        <td>{{ presence.presenceDate | format_date('full') }}</td>
                        <td>{{ presence.cout }} €</td>
                    </tr>
                {% endfor %}
            </table>
