{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}
{% block head %}
    {% if pause %}
        <meta http-equiv="refresh"
              content="3; url={{ absolute_url(path('mercredi_admin_facture_create_pdf_all', {'month': month, 'pause':0})) }}">
    {% endif %}
{% endblock %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Création des pdfs pour {{ month }}</h3>

        <div class="card-body">
            {% if finish == false %}
                Les factures sont crées par lot de 30 <br/>
                <p class="text-warning">Merci de ne pas fermer cette fenêtre</p>
                Veuillez patienter<br><br>
                Merci
            {% else %}
                Tous les pdf ont été créés.<br/>
                Vous pouvez quitter cette fenêtre
            {% endif %}
        </div>
    </div>
{% endblock %}

