{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>Envoie des factures planifiée</h3>
        </div>
        <div class="card-body">

            <div class="alert alert-info">
                L'envoi des factures a été planifié<br/>
                L'envoi se fera par lot de 70 mails par heure<br/>
                {% if copies %}
                    Une copie des factures sera envoyée sur:  <p>{{ copies }}</p>
                {% endif %}
            </div>

            <a href="{{ path('mercredi_admin_facture_index') }}">
                Vous pouvez suivre en regardant leur date d'envoi
            </a>

        </div>
    </div>
{% endblock %}


