<a href="{{ path('mercredi_admin_presence_edit', { 'id': presence.id }) }}" role="button"
   class="btn btn-primary"><i
            class="far fa-edit"></i> Editer</a>

<a href="{{ path('mercredi_admin_enfant_show',{'id': enfant.id}) }}" class="btn btn-primary" role='button'><i class="fas fa-list"></i>
    Retour à l'enfant</a>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
    <i class="fas fa-trash"></i> Supprimer la présence
</button>

<br /><br />
