{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Liste des présences non payés {{ presences|length }}</h3>
        <div class="card-body">

        </div>
    </div>
{% endblock %}

