{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>Détail de la présence de {{ enfant }} du {{ presence.jour.dateJour | format_date('full') }}</h3>
        </div>
        <div class="card-body">

            {% include '@AcMarcheMercrediAdmin/presence/_actions.html.twig' %}

            <br/>

        </div>
    </div>

    {% include '@AcMarcheMercrediAdmin/presence/_delete_form.html.twig' %}

{% endblock %}
