<ul class="navbar-nav mr-au2to ml-2auto mr-5">
    <li class="nav-item dropdown">
        <a class="nav-link" href="{{ path('mercredi_front_user_show') }}">
       <i class="fas fa-user-alt"></i> {{ app.user.nom }} {{ app.user.prenom }}
        </a>
    </li>
</ul>
