<ul class="navbar-nav mr-au2to ml-2auto mr-5">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">{{ app.user.nom }} {{ app.user.prenom }}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{ path('mercredi_front_user_show') }}">
                <i class="fas fa-users-cog"></i> Mon compte
            </a>
            <a class="dropdown-item" href="{{ path('app_logout') }}" title="Déconnexion">
                <i class="fas fa-sign-out-alt"></i> Me déconnecter
            </a>
        </div>
    </li>
</ul>
