
<a href="{{ path('mercredi_commun_export_sante_fiche_pdf', { 'uuid': enfant.uuid }) }}" role="button"
   class="btn btn-primary"><i class="far fa-file-pdf"></i> Pdf</a>

<a href="{{ path('mercredi_ecole_enfant_show',{'uuid': enfant.uuid}) }}" class="btn btn-primary" role='button'><i class="fas fa-list"></i>
    Retour</a>

<br /><br />
