<div class="card">

    <h5 class="card-header">Ses accueils </h5>
    <div class="card-body">
        {% if accueils | length > 0 %}
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Nombre de demi heure</th>
                    <th>Matin/soir</th>
                </tr>
                </thead>
                <tbody>
                {% for accueil in accueils %}
                    <tr>
                        <td>
                            <a href="{{ path('mercredi_parent_accueil_show', { 'id': accueil.id }) }}">
                                {{ accueil.dateJour|format_date('full') }}
                            </a>
                        </td>
                        <td>
                            {{ accueil.duree }}
                        </td>
                        <td>
                            {{ accueil.matinSoir|join(',') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            Aucun
        {% endif %}
    </div>
</div>
