{% extends '@AcMarcheMercrediParent/layout.html.twig' %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>{{ enfant }}</h3>
        </div>
        <div class="card-body">
            {{ include('@AcMarcheMercrediParent/enfant/_form.html.twig') }}
        </div>
        <div class="card-footer">
            <a href="{{ path('mercredi_parent_enfant_show',{'uuid':enfant.uuid}) }}" class="mt-4">
                <i class="fas fa-long-arrow-alt-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
