{% extends '@AcMarcheMercrediParent/layout.html.twig' %}

{% block body %}
    <div class="card mb-3">

        <div class="card-header">
            <h3 class="w-50 d-inline">Liste de mes enfants</h3>
        </div>

        <div class="card-body">
            {% include '@AcMarcheMercrediParent/enfant/_list.html.twig' %}
        </div>

    </div>
{% endblock %}
