{% extends '@AcMarcheMercrediParent/layout.html.twig' %}

{% block body %}
    <div class="card">

        <h3 class="card-header">{{ enfant }}
            <div class="float-end">
                {% include '@AcMarcheMercredi/commun/_archive.html.twig' with {'entity':enfant} %}
            </div>
        </h3>
        <div class="card-body">
            {% if ficheSanteComplete == false %}
                <div class="alert alert-danger">
                    Attention la fiche santé n'est pas complète, veuillez la remplir.
                </div>
            {% endif %}
            {% include '@AcMarcheMercrediParent/enfant/_actions.html.twig' %}

            <div class="d-flex">
                <div class="flex-shrink-0">
                    {% include '@AcMarcheMercredi/commun/enfant/_photo.html.twig' %}
                </div>
                <div class="flex-grow-1 ms-3">
                    {% include '@AcMarcheMercredi/commun/enfant/_identite.html.twig' %}
                </div>
            </div>
            <br/>
        </div>
        <div class="card-footer text-muted mt-3">
            Crée le {{ enfant.createdAt | format_date('full') }} par {{ enfant.userAdd }}. Mis à jour
            le {{ enfant.updatedAt | format_date('full') }}
        </div>
    </div>
    <br />
    {% include '@AcMarcheMercrediParent/enfant/_presences.html.twig' %}
    {% include '@AcMarcheMercrediParent/enfant/_plaines.html.twig' %}
    {% include '@AcMarcheMercrediParent/enfant/_accueils.html.twig' %}

{% endblock %}
