{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <h3>Tri des questions</h3>

    <a href="{{ path('mercredi_admin_sante_question_index') }}" class="btn btn-primary" role="button"><i
                class="fas fa-list"></i>
        Retour à la liste</a>

    <br/> <br/>
    <div class="alert alert-info">
        Pour changer l'ordre d'appariation des questions, glissez en maintenant la souris sur l'icône <i
                class="fas fa-sort"></i>
    </div>

    <div class="" id="success"></div>

    <ul class="list-group" id="sortable"
        data-controller="sortable"
        data-sortable-animation-value="150">
        {% for question in questions %}
            <li
                    data-sortable-update-url="{{ path('mercredi_admin_ajax_question_sort', {'id': question.id }) }}"
                    id="{{ question.id }}"
                    class="list-group-item"
                    style="cursor: move;">
                <i class="fas fa-sort me-2"></i>{{ question }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
