{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>{{ ecole }}</h3>
        </div>
        <div class="card-body">

            {% include '@AcMarcheMercrediAdmin/ecole/_actions.html.twig' %}

            <br/>
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <th>né le</th>
                    <td>

                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% include '@AcMarcheMercrediAdmin/ecole/_delete_form.html.twig' %}

{% endblock %}
