<a href="{{ path('mercredi_admin_organisation_edit', { 'id': organisation.id }) }}" role="button"
   class="btn btn-primary"><i
            class="far fa-edit"></i> Modifier</a>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    <i class="fas fa-trash"></i> Supprimer
</button>

<br /><br />
