{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>Nouvelle organisation</h3>
        </div>
        <div class="card-body">

           {{ include('@AcMarcheMercrediAdmin/organisation/_form.html.twig') }}

        </div>
    </div>
{% endblock %}
