{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>{{ organisation }} {% if organisation.initiale %}({{ organisation.initiale }})  {% endif %}</h3>
        </div>
        <div class="card-body">

            {% include '@AcMarcheMercrediAdmin/organisation/_actions.html.twig' %}

            <br/>
            {{ include('@AcMarcheMercrediAdmin/organisation/_identite.html.twig') }}
        </div>
    </div>

    {% include '@AcMarcheMercrediAdmin/organisation/_delete_form.html.twig' %}

{% endblock %}
