{% extends '@AcMarcheBottin/layout.html.twig' %}

{% block body -%}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>Publipostage</h3>
        </div>
        <div class="card-body">
            Publipostage par email avec un lien pour mettre à jour sa fiche sans authentification

        </div>
    </div>

{% endblock %}
