{% extends '@AcMarcheMercrediEcole/layout.html.twig' %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Votre école</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                {% for ecole in ecoles %}
                    <tr>
                        <th>
                            <a href="{{ path('mercredi_ecole_ecole_show', {'id': ecole.id}) }}">
                                {{ ecole }}
                            </a>
                        </th>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
