{% extends '@AcMarcheMercrediEcole/layout.html.twig' %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Nouvel inscrit</h3>
        </div>
        <div class="card-body">
            Bonjour,
            <br/>
            <br/>
            Vous êtes bien connecté au site internet, cependant aucune écoles n'est encore
            associé à votre compte utilisateur.
            <br/><br/>
            Prenez contact avec {{ organisation }} pour résoudre ce problème,
            <br/><br/>
            Merci pour votre compréhension<br/>

        </div>
    </div>

{% endblock %}
