<h4 class="text-success">Images</h4>
{% if fiche.images | length > 0 %}

    <table class='table table-bordered table-hover'>
        <tr>
            {% for image in fiche.images %}
            <td>
                <a href="{{ path('bottin_image_show', { 'id': image.id }) }}">
                    <img class="img-thumbnail"
                         src="{{ vich_uploader_asset(image, 'image') | imagine_filter('acbottin_thumb') }}" alt="img"/>
                </a>
                {% if image.principale %}
                    <i class="fas fa-check"></i>
                {% endif %}
            </td>
            {% if loop.index is divisible by(2) %}
        </tr>
        <tr>
            {% endif %}
            {% endfor %}
            {% if fiche.images | length is not divisible by(2) %}
                <td></td>
            {% endif %}
        </tr>
    </table>
{% else %}
    <p class="text-warning">Aucune image</p>
{% endif %}