<!-- Nav tabs -->
<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">

    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
           aria-selected="true">
            Activité sur Marche
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="profile"
           aria-selected="false">
            Contact
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#infos" role="tab" aria-controls="profile"
           aria-selected="false">
            Infos complémentaitres
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#horaires" role="tab" aria-controls="profile"
           aria-selected="false">
            Horaires
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#sociaux" role="tab" aria-controls="profile"
           aria-selected="false">
            Réseaux sociaux
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#note" role="tab" aria-controls="profile"
           aria-selected="false">
            Note et pdv
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#contact_administratif" role="tab"
           aria-controls="profile"
           aria-selected="false">
            Contact administratif
        </a>
    </li>
</ul>
