{% extends '@AcMarcheMercredi/email/body.html.twig' %}
{% block subject %}
    <p class="lead">
        {{ email.subject }}
    </p>
{% endblock %}

{% block content %}
    Les tuteurs suivant on été archivés car ils n'ont plus d'enfants actifs
    <br/><br/>
    {% for tuteur in tuteurs %}
        {{ tuteur }}<br/>
        {{ absolute_url(path('mercredi_admin_tuteur_show', {'id': tuteur.id})) }}
    {% endfor %}
{% endblock %}
