{% extends '@email/default/notification/body.html.twig' %}
{% block lead %}
    <p class="lead">
        {{ email.subject }} 66
    </p>
{% endblock %}

{% block content %}

{{ texte|nl2br }}

{% endblock %}

{% block footer_content %}
    <p>
    <small>
    {% include '@AcMarcheMercrediAdmin/organisation/_signature.html.twig' %}
   </small>
   </p>
{% endblock %}

