{% extends '@email/default/notification/body.html.twig' %}
{% block lead %}
    <p class="lead">
        {{ email.subject }}
    </p>
{% endblock %}

{% block content %}

{{ texte }}

{% endblock %}

{% block footer_content %}
    <p>
    <small>
    {% include '@AcMarcheMercrediAdmin/organisation/_identite.txt.twig' %}
   </small>
   </p>
{% endblock %}
