<a href="{{ path('mercredi_front_user_edit') }}" role="button"
   class="btn btn-primary"><i
            class="far fa-edit"></i> Modifier</a>

<a href="{{ path('mercredi_front_user_password') }}" role="button"
   class="btn btn-primary"><i
            class="fas fa-lock"></i> Changer le mot de passe</a>

<a class="btn btn-warning" href="{{ path('app_logout') }}" title="Déconnexion">
    <i class="fas fa-sign-out-alt"></i> Me déconnecter
</a>

{% if is_granted('IS_IMPERSONATOR') %}
    <a class="btn btn-success" href="{{ path('mercredi_front_user_show', {'_switch_user': '_exit'}) }}" title="Déconnexion">
        <i class="fas fa-arrow-circle-up"></i> Retour à mon compte original
    </a>
{% endif %}

<br/><br/>
