
<a href="{{ path('mercredi_front_user_edit') }}" role="button"
   class="btn btn-primary"><i
            class="far fa-edit"></i> Modifier</a>

<a href="{{ path('mercredi_front_user_password') }}" role="button"
   class="btn btn-primary"><i
            class="fas fa-lock"></i> Changer le mot de passe</a>

<a class="btn btn-warning" href="{{ path('app_logout') }}" title="Déconnexion">
    <i class="fas fa-sign-out-alt"></i> Me déconnecter
</a>

<br/><br/>
