<ul class="list-group">
    {% if is_granted('ROLE_MERCREDI_ADMIN') %}
        <li class="list-group-item">
            <a href="{{ path('mercredi_admin_home') }}">Accès en tant que administrateur</a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_MERCREDI_ANIMATEUR') %}
        <li class="list-group-item">
            <a href="{{ path('mercredi_animateur_home') }}">Accès en tant qu'animateur</a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_MERCREDI_PARENT') %}
        <li class="list-group-item">
            <a href="{{ path('mercredi_parent_home') }}">Accéder en tant que parent</a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_MERCREDI_ECOLE') %}
        <li class="list-group-item">
            <a href="{{ path('mercredi_ecole_home') }}">Accès en tant qu'école</a>
        </li>
    {% endif %}
</ul>
