<a class="btn btn-primary" role="button"  href="#"
        data-toggle="modal"
        data-target="#addEnfantModal">
    <i class="fas fa-plus"></i> Ajouter un enfant
</a>

<a href="{{ path('mercredi_admin_tuteur_edit', { 'id': tuteur.id }) }}" role="button"
   class="btn btn-primary"><i
            class="far fa-edit"></i> Modifier</a>

<a href="{{ path('mercredi_admin_tuteur_index') }}" class="btn btn-primary" role='button'><i class="fas fa-list"></i>
    Retour à la Liste</a>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
    <i class="fas fa-trash"></i> Supprimer
</button>

<br/><br/>
