<div class="modal fade" id="addEnfantModal" tabindex="-1" role="dialog" aria-labelledby="addEnfantModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEnfantModalLabel">Ajouter un enfant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 class="text-success" id="myModalLabel">Un enfant existant:</h6>

                <form method="post" action="{{ path('mercredi_admin_relation_attach_enfant', {'id': tuteur.id}) }}">
                    <div class="form-group2">
                        <label for="search"> </label>
                        <input type="search" id="search" name="search" placeholder="Rechercher"
                               class="form-control typeahead" autocomplete="off">
                    </div>
                    <input type="hidden" name="enfantId" id="enfantId">
                    <input type="hidden" name="_method" value="POST">
                    <input type="hidden" name="_token" value="{{ csrf_token('attachEnfant' ~ tuteur.id) }}">
                    <button type="submit" class="btn btn-primary mt-2">Définir comme enfant</button>
                </form>
                <br/>
                ou <a href="{{ path('mercredi_admin_enfant_new', { 'id' : tuteur.id }) }}">ajouter un nouvel enfant</a>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Annuler
                </button>
            </div>
        </div>
    </div>
</div>
