{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>{{ tuteur }}</h3>
        </div>
        <div class="card-body">

            {{ include('@AcMarcheMercrediAdmin/tuteur/_form.html.twig') }}

            <a href="{{ path('mercredi_admin_tuteur_show',{'id':tuteur.id}) }}" class="mt-4">
                <i class="fas fa-long-arrow-alt-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
