{% if enfant.accompagnateurs %}
    <p class="text-muted" title="Personnes autorisées à venir chercher l'enfant">
        <strong>Accompagnateurs: </strong> {{ enfant.accompagnateurs | join(', ') }}
    </p>
{% endif %}
