<br/>
<strong>Frateries: </strong>
{% if fratries|length > 0 %}
    {% for fratrie in fratries %}
        <a href="{{ path('mercredi_admin_enfant_show', {'id': fratrie.id}) }}">
            {{ fratrie }}
        </a>
    {% endfor %}
{% else %}
    Aucune
{% endif %}
