{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block title %}Enfant{% endblock %}

{% block body %}

    <div class="card mb-3">

        <h3 class="card-header">{{ enfant }}
            <div class="float-right">
                {% include '@AcMarcheMercredi/commun/_sexe.html.twig' with {'entity':enfant} %}
                {% include '@AcMarcheMercredi/commun/_archive.html.twig' with {'entity':enfant} %}
            </div>
        </h3>

        <div class="row no-gutters">
            <div class="col-md-3 mt-4">
               {% include '@AcMarcheMercrediAdmin/enfant/_photo.html.twig' %}
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    {% include '@AcMarcheMercrediAdmin/enfant/_actions.html.twig' %}
                    {% include '@AcMarcheMercrediAdmin/enfant/_identite.html.twig' %}
                    {% include '@AcMarcheMercrediAdmin/enfant/_accompagnateurs.html.twig' %}
                </div>
            </div>
        </div>

        <br />
        {% include '@AcMarcheMercrediAdmin/enfant/_tuteurs.html.twig' %}

        <div class="card-footer text-muted mt-3">
            Créé le {{ enfant.createdAt | format_date('full') }} par {{ enfant.userAdd }}. Mis à jour
            le {{ enfant.updatedAt | format_date('full') }}
        </div>
    </div>

    {% include '@AcMarcheMercrediAdmin/enfant/_delete_form.html.twig' %}

{% endblock %}
