{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block title %}Enfant{% endblock %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>{{ (page }}</h3>
        </div>
        <div class="card-body">

            {% include '@AcMarcheMercrediAdmin/page/_actions.html.twig' %}

            <br/>

            {{ page.content|raw }}
        </div>
    </div>

    {% include '@AcMarcheMercrediAdmin/page/_delete_form.html.twig' %}

{% endblock %}
