{% extends '@AcMarcheMercrediAdmin/layout.html.twig' %}

{% block body %}

    <h3>Ordre d'affichage des pages</h3>

    <a href="{{ path('mercredi_admin_page_index') }}" class="btn btn-primary" role="button"><i
                class="fas fa-list"></i>
        Retour à la liste</a>

    <br/> <br/>
    <div class="alert alert-info">
        Pour changer l'ordre d'appariation des pages, glissez en maintenant la souris sur l'icône <i
                class="fas fa-sort"></i>
    </div>

    <div class="" id="success"></div>

    <ul class="list-group" id="sortable">
        {% for page in pages %}
            <li id="pages-{{ page.id }}" class="list-group-item">
                <i class="fas fa-sort" style="margin-right: 0.3em;"></i>{{ page }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#sortable").sortable({
                // limitons les déplacements sur l'axe des ordonnées, ce sera plus propre
                axis: 'y',
                update: function (event, ui) {
                    // Construit un tableau des ids des stories
                    serial = $(this).sortable('serialize');
                    // Appelle une action en ajax
                    $.ajax({
                        url: '{{ path('mercredi_admin_page_sort') }}',
                        type: "post",
                        data: serial,
                        success: function (html) {
                            $('#success').append(html);
                            $('#success').fadeIn(500);
                            //       $('#success').fadeOut(2000);
                        },
                        error: function () {
                            alert("Oups le tri ne s'est pas enregistré");
                        }
                    })
                }
            });

            $("#sortable").disableSelection();
        });

    </script>
{% endblock %}
